.lg_form {
  width: 325px;
  height: 276px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lg_form .lg_form_link {
  float: right;
}
.lg_form .lg_form_bt {
  width: 100%;
}
